* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

$fondo-main: color#D4D4D4;


main {
    background-color: #D4D4D4;
}

footer {
    background-color: white;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: black;
padding: 1rem

}


.letra-intro-inicio {
    font-size: 25px;
    
}

body {
    overflow-x: hidden;
}


.letra-intro-inicio {
    
	font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.info {
    display: flex;
	flex-direction: column;
	align-items: center;
}